/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
              &kp SPACE  &kp NUMBER_1  &kp H  &kp NUMBER_4  &kp NUMBER_2
            >;
        };
    };
 };
